:root {
  --primary-color: white;
  --secondary-color: #59687a;
  --heading-font: "Old Standard TT", serif;
  --content-font: "Comic Neue", cursive;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  transition: 5s;
}

body {
  background-image: url("/media/spiderweb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.9s;
  color: var(--primary-color);
}
h1 {
  font-size: 55px;
  font-weight: bolder;
  font-family: var(--heading-font);
}
h1 .caps {
  font-size: 70px;
}
h2 {
  font-family: var(--content-font);
}

.fa-spider:hover {
  transition: 1s;
  transform: rotateX(180deg);
}
.navbar-nav {
  margin: 0 0 0 auto;
}
.navbar-bg {
  background-color: black;
}

.hero {
  margin-top: 150px !important;
  max-width: 90%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.btn {
  background-color: var(--secondary-color);
  border: none;
}
.btn:hover {
  background-color: #3edce0;
  color: black;
}

@media (max-width: 576px) {
  /* body {
    background-image: url("/media/sm-web.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  } */
  .hero {
    margin-top: 30% !important;
    max-width: 95%;
  }
}
