:root {
  --primary-color: white;
  --heading-font: "Libre Baskerville", serif;
  --content-font: "Noto Sans TC", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222831;
  color: var(--primary-color);
  font-family: var(--content-font);
}
h1 {
  font-family: var(--heading-font);
}

.navbar-nav {
  margin: 0 0 0 auto;
  font-size: small;
}
.navbar-brand {
  font-family: var(--heading-font);
}

.hero {
  margin: 150px 10%;
  text-align: center;
}
