:root {
  --primary-color: white;
  --heading-font: "Libre Baskerville", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222831;
  color: var(--primary-color);
}
h1 {
  font-size: 55px;
  font-family: var(--heading-font);
  margin-bottom: 0%;
}
h1 .k,
h1 .a-p {
  font-size: 75px;
}

.navbar {
  background-color: #222831;
}
.navbar-nav {
  margin: 0 0 0 auto;
  font-size: small;
}
.k {
  font-family: "Alex Brush", cursive;
  font-size: xx-large;
}
.e-l {
  font-family: var(--heading-font);
  font-size: small;
  position: relative;
  bottom: 4px;
}

.hero {
  margin: 150px 10%;
  text-align: center;
}

@media (max-width: 576px) {
  .hero {
    margin: 100px 7%;
  }
}
